body {
    font: 16px sans-serif;

}

.wrapper {
    align-items: center;
    align-self: center;
}
form {
    margin: 0 auto;
    width: 550px;
}
header{
    align-self: center;
    align-content: center;
    text-align: center;
}